.cart-empty-msg {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}
.final-bill {
  padding: 10px;
}

.pay-btn {
  padding: 10px;
  width: 300px;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.cart-parent {
  display: flex;
  justify-content: center;
}
